{% extends 'base.html.twig' %}

{% block title %}Hello PatientsInfoController!{% endblock %}

{% block stylesheets %}
    {{parent()}}
    <link href="{{ asset("assets/plugins/custom/datatables/datatables.bundle.css") }}" rel="stylesheet"  type="text/css"/>
    <link href="{{asset("assets/plugins/global/plugins.bundle.css") }}" rel="stylesheet" type="text/css"/>
    <style>/* Remove border from the input element */
    #dateRangePick {
        border: none;
        outline: none; /* Removes the focus outline */
        background: transparent; /* Optional: Make background transparent */
        padding: 0; /* Optional: Remove default padding */
    }
    </style>
{% endblock %}

{% block body %}

<!--begin::Container-->
<div id="kt_content_container" class="container-xxl">
    <!--begin::table -->
    <div class="card card-flush mt-6 mt-xl-9">
        <!--begin::Card header-->
		<div class="card-header mt-5">
            <!--begin::Card title-->
            <div class="card-title flex-column">
                <h3 class="fw-bold mb-1">Table of Patients</h3>
                <div class="fs-6 text-gray-400">Total {{allp}} Patients</div>
            </div>
            <!--end::Card title-->
            <!--begin::toolbar-->
            <button id="clearFilter" class="btn btn-secondary">Clear Filter</button>
            <div class="card-toolbar my-1">    
                <!--begin::datepickrange-->
                <div id="click" class="me-6 my-1">
                <div class="btn btn-sm btn-light d-flex align-items-center px-4">
                    <input id='dateRangePick' data-kt-daterangepicker="true" data-kt-daterangepicker-opens="left" class="text-gray-600 fw-bold"  data-kt-initialized="0">
                        <!--begin::Svg Icon | path: icons/duotune/general/gen014.svg-->
                        <span class="svg-icon svg-icon-1 ms-2 me-0">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path opacity="0.3" d="M21 22H3C2.4 22 2 21.6 2 21V5C2 4.4 2.4 4 3 4H21C21.6 4 22 4.4 22 5V21C22 21.6 21.6 22 21 22Z" fill="currentColor"></path>
                                <path d="M6 6C5.4 6 5 5.6 5 5V3C5 2.4 5.4 2 6 2C6.6 2 7 2.4 7 3V5C7 5.6 6.6 6 6 6ZM11 5V3C11 2.4 10.6 2 10 2C9.4 2 9 2.4 9 3V5C9 5.6 9.4 6 10 6C10.6 6 11 5.6 11 5ZM15 5V3C15 2.4 14.6 2 14 2C13.4 2 13 2.4 13 3V5C13 5.6 13.4 6 14 6C14.6 6 15 5.6 15 5ZM19 5V3C19 2.4 18.6 2 18 2C17.4 2 17 2.4 17 3V5C17 5.6 17.4 6 18 6C18.6 6 19 5.6 19 5Z" fill="currentColor"></path>
                                <path d="M8.8 13.1C9.2 13.1 9.5 13 9.7 12.8C9.9 12.6 10.1 12.3 10.1 11.9C10.1 11.6 10 11.3 9.8 11.1C9.6 10.9 9.3 10.8 9 10.8C8.8 10.8 8.59999 10.8 8.39999 10.9C8.19999 11 8.1 11.1 8 11.2C7.9 11.3 7.8 11.4 7.7 11.6C7.6 11.8 7.5 11.9 7.5 12.1C7.5 12.2 7.4 12.2 7.3 12.3C7.2 12.4 7.09999 12.4 6.89999 12.4C6.69999 12.4 6.6 12.3 6.5 12.2C6.4 12.1 6.3 11.9 6.3 11.7C6.3 11.5 6.4 11.3 6.5 11.1C6.6 10.9 6.8 10.7 7 10.5C7.2 10.3 7.49999 10.1 7.89999 10C8.29999 9.90003 8.60001 9.80003 9.10001 9.80003C9.50001 9.80003 9.80001 9.90003 10.1 10C10.4 10.1 10.7 10.3 10.9 10.4C11.1 10.5 11.3 10.8 11.4 11.1C11.5 11.4 11.6 11.6 11.6 11.9C11.6 12.3 11.5 12.6 11.3 12.9C11.1 13.2 10.9 13.5 10.6 13.7C10.9 13.9 11.2 14.1 11.4 14.3C11.6 14.5 11.8 14.7 11.9 15C12 15.3 12.1 15.5 12.1 15.8C12.1 16.2 12 16.5 11.9 16.8C11.8 17.1 11.5 17.4 11.3 17.7C11.1 18 10.7 18.2 10.3 18.3C9.9 18.4 9.5 18.5 9 18.5C8.5 18.5 8.1 18.4 7.7 18.2C7.3 18 7 17.8 6.8 17.6C6.6 17.4 6.4 17.1 6.3 16.8C6.2 16.5 6.10001 16.3 6.10001 16.1C6.10001 15.9 6.2 15.7 6.3 15.6C6.4 15.5 6.6 15.4 6.8 15.4C6.9 15.4 7.00001 15.4 7.10001 15.5C7.20001 15.6 7.3 15.6 7.3 15.7C7.5 16.2 7.7 16.6 8 16.9C8.3 17.2 8.6 17.3 9 17.3C9.2 17.3 9.5 17.2 9.7 17.1C9.9 17 10.1 16.8 10.3 16.6C10.5 16.4 10.5 16.1 10.5 15.8C10.5 15.3 10.4 15 10.1 14.7C9.80001 14.4 9.50001 14.3 9.10001 14.3C9.00001 14.3 8.9 14.3 8.7 14.3C8.5 14.3 8.39999 14.3 8.39999 14.3C8.19999 14.3 7.99999 14.2 7.89999 14.1C7.79999 14 7.7 13.8 7.7 13.7C7.7 13.5 7.79999 13.4 7.89999 13.2C7.99999 13 8.2 13 8.5 13H8.8V13.1ZM15.3 17.5V12.2C14.3 13 13.6 13.3 13.3 13.3C13.1 13.3 13 13.2 12.9 13.1C12.8 13 12.7 12.8 12.7 12.6C12.7 12.4 12.8 12.3 12.9 12.2C13 12.1 13.2 12 13.6 11.8C14.1 11.6 14.5 11.3 14.7 11.1C14.9 10.9 15.2 10.6 15.5 10.3C15.8 10 15.9 9.80003 15.9 9.70003C15.9 9.60003 16.1 9.60004 16.3 9.60004C16.5 9.60004 16.7 9.70003 16.8 9.80003C16.9 9.90003 17 10.2 17 10.5V17.2C17 18 16.7 18.4 16.2 18.4C16 18.4 15.8 18.3 15.6 18.2C15.4 18.1 15.3 17.8 15.3 17.5Z" fill="currentColor"></path>
                            </svg>
                        </span>
                        <!--end::Svg Icon-->
                    </div>
                </div>    
                <script>$(document).ready(function() {
                        $('#click').on('click', function() {
                            $('#dateRangePick').focus(); // Focuses the input field
                            $('#dateRangePick').click(); // Simulates a click on the input field
                        });
                    });
                </script>
                <!--end::datepickrange-->
                <!--begin::select-->
                <div class="me-6 my-1">
                    <select id="selectGender" class="w-125px form-select form-select-solid form-select-sm select2-hidden-accessible" data-hide-search="true" data-control="select2" data-placeholder="Select an option">
                        <option value="all"  selected="selected">Male/female</option>
                        <option value="M">Male</option>
                        <option value="F">Female</option>
                    </select>
                </div>
                <!--end::select-->
                <!--begin::Search-->
                <div class="d-flex align-items-center position-relative my-1">
                    <!--begin::Svg Icon | path: icons/duotune/general/gen021.svg-->
                    <span class="svg-icon svg-icon-3 position-absolute ms-3">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect opacity="0.5" x="17.0365" y="15.1223" width="8.15546" height="2" rx="1" transform="rotate(45 17.0365 15.1223)" fill="currentColor"></rect>
                            <path d="M11 19C6.55556 19 3 15.4444 3 11C3 6.55556 6.55556 3 11 3C15.4444 3 19 6.55556 19 11C19 15.4444 15.4444 19 11 19ZM11 5C7.53333 5 5 7.53333 5 11C5 14.4667 7.53333 17 11 17C14.4667 17 17 14.4667 17 11C17 7.53333 14.4667 5 11 5Z" fill="currentColor"></path>
                        </svg>
                    </span>
                    <!--end::Svg Icon-->
                    <input type="text" id="search" class="form-control form-control-solid form-select-sm w-150px ps-9" placeholder="Search Patient">
                </div>
                <!--end::Search-->
            </div>
            <!--end::toolbar-->
        </div>
        <!--end::Card header-->

        <!--begin::cardbody-->
        <div class="card-body pt-0">
            <!--begin::Table container-->
			<div class="table-responsive">
                <table id="patient_table" class="table table-row-bordered table-row-dashed gy-4 align-middle fw-bold dataTable no-footer">
                    <!--begin::Header-->
                    <thead class="fs-7 text-gray-400 text-uppercase">
                        <tr class="fw-semibold fs-6 text-muted">
                            <th class="min-w-150px sorting">id</th>
                            <th class="min-w-250px sorting">nom</th>
                            <th class="min-w-250px sorting">prenom</th>
                            <th class="min-w-250px sorting">sex</th>
                            <th class="min-w-250px sorting ">date de naissence</th>
                        </tr>
                    </thead>
                    <!--end::Header-->
                    <!--begin::body-->
                    <tbody class="fs-6">
                        <tr>
                            <td>000</td>
                            <td>iron</td>
                            <td>man</td>
                            <td>M</td>
                            <td>2011/04/25</td>
                        </tr>


                                {% for patient in patients %}
                        <tr>
                            <!-- Replace `property1`, `property2`, etc., with actual properties of your object -->
                            <td>{{ patient.id }}</td>
                            <td>{{ patient.nom }}</td>
                            <td>{{ patient.prenom }}</td>
                            <td>{{ patient.genre }}</td>
                            <td>{{ patient.dateNaissance ? patient.dateNaissance|date('Y/m/d') : 'N/A' }}</td>
                            <!-- Add more td elements as needed based on your object's properties -->
                        </tr>
                        {% endfor %}
                    </tbody>
                    <!--end::body-->
                </table>
            </div>
            <!--end::Table container-->    
        </div>
        <!--end::cardbody-->
    <!--end::table -->
</div>
    {% block javascripts %}
        {{ parent() }}
        <script src="{{ asset('assets/plugins/custom/datatables/datatables.bundle.js') }}"></script>
    {% endblock %}

<script>
var table = document.querySelector('#patient_table');

const datatable = $(table).DataTable({
            "info": false,
            'order': []
        });

//const selectGender = document.getElementById('selectGender');

$(document).ready(function() {
        $('#selectGender').on('select2:select', function(e) {
            var data = e.params.data.id;
            console.log(data);
            if(data!='all'){
                datatable.column(3).search(data).draw();
            }else{
                datatable.column(3).search('').draw();
            }
            
        });
    });    

$(function() {
    var start = moment().subtract(29, "days");
    var end = moment();

    function cb(start, end) {
        $("#dateRangePick").html(start.format("YYYY-MM-DD") + " - " + end.format("YYYY-MM-DD"));
        // Log the selected date range to the console
        //console.log("Start Date: " + start.format("YYYY-MM-DD"));
        //console.log("End Date: " + end.format("YYYY-MM-DD"));
         // Return the date range in YYYY/MM/DD format
        return { 
            startDate: start.format("YYYY/MM/DD"), 
            endDate: end.format("YYYY/MM/DD")
        };
    }

    $("#dateRangePick").daterangepicker({
        startDate: start,
        endDate: end,
        ranges: {
            "Today": [moment(), moment()],
            "Yesterday": [moment().subtract(1, "days"), moment().subtract(1, "days")],
            "Last 7 Days": [moment().subtract(6, "days"), moment()],
            "Last 30 Days": [moment().subtract(29, "days"), moment()],
            "This Month": [moment().startOf("month"), moment().endOf("month")],
            "Last Month": [moment().subtract(1, "month").startOf("month"), moment().subtract(1, "month").endOf("month")],
            "This Year": [moment().startOf("year"), moment().endOf("year")],
        "Last Year": [moment().subtract(1, "year").startOf("year"), moment().subtract(1, "year").endOf("year")]
        }
    }, function(start, end) {
        // Call the callback function and handle the returned date range
        const dateRange = cb(start, end);
    });

    // Manually trigger the callback with the initial values
    cb(start, end);
    function dateStrToNumeric(dateStr) {
    // Split the date string into components
    const [year, month, day] = dateStr.split('/').map(num => num.padStart(2, '0'));

    // Combine into a numeric format
    return parseInt(`${year}${month}${day}`, 10);
}
    // Ensure the callback is called on date change
    $('#dateRangePick').on('apply.daterangepicker', function(ev, picker) {
        const dateRange = cb(picker.startDate, picker.endDate);
        //console.log(dateRange);
        const startDate =dateStrToNumeric(dateRange.startDate);
        const endDate =dateStrToNumeric(dateRange.endDate);

        // Clear previous custom filters
        $.fn.dataTable.ext.search.splice($.fn.dataTable.ext.search.indexOf(dateFilter), 1);

    // Define a custom filter function for the DataTable
        function dateFilter(settings, data, dataIndex) {
            const date = dateStrToNumeric(data[4]); // Adjust the column index if necessary
            console.log(date, ":", data[4], "_", startDate, "-", endDate);
            // Check if the date is within the selected range
            return date >= startDate && date <= endDate;
        }
            // Add the new filter function
        $.fn.dataTable.ext.search.push(dateFilter);

    // Redraw the DataTable
    datatable.draw();
    });
    // Add functionality for the "Clear" button
    $('#clearFilter').on('click', function() {
        // Reset the date range picker
        $('#dateRangePick').data('daterangepicker').setStartDate(moment().subtract(29, 'days'));
        $('#dateRangePick').data('daterangepicker').setEndDate(moment());

        // Clear all custom filters
        $.fn.dataTable.ext.search = [];

        // Redraw the DataTable with no filters
        datatable.draw();
    });
});
</script>

{% endblock %}
