<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        
        {% block stylesheets %}

            <link href="{{ asset("assets/plugins/global/plugins.bundle.css") }}" rel="stylesheet" type="text/css" />
            <link href="{{ asset("assets/css/style.bundle.css") }}" rel="stylesheet" type="text/css" />
            <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
            
        {% endblock %}

        {% block javascripts %}

        {#<script src="{{ asset('assets/plugins/global/plugins.bundle-fr.js') }}"></script>#}
        <script src="{{asset('assets/plugins/global/plugins.bundle.js') }}"></script>
        <script src="{{ asset('assets/js/scripts.bundle.js') }}"></script>
        <script src="{{ asset('assets/js/charth.js') }}"></script>
        <script src="{{ asset('assets/js/widgets.bundle.js') }}"></script>


        {# {% block importmap %}{{ importmap('app') }}{% endblock %}#}


        {% endblock %}
    </head>

    <body data-kt-name="metronic" id="kt_body" class="header-tablet-and-mobile-fixed aside-enabled">
    <script>if ( document.documentElement ) { const defaultThemeMode = "system"; const name = document.body.getAttribute("data-kt-name"); let themeMode = localStorage.getItem("kt_" + ( name !== null ? name + "_" : "" ) + "theme_mode_value"); if ( themeMode === null ) { if ( defaultThemeMode === "system" ) { themeMode = window.matchMedia("(prefers-color-scheme: dark)").matches ? "dark" : "light"; } else { themeMode = defaultThemeMode; } } document.documentElement.setAttribute("data-theme", themeMode); }</script>
    <!--begin::Root-->
    <div class="d-flex flex-column flex-root">
        <!--begin::Page-->
        <div class="page d-flex flex-row flex-column-fluid">
            {% include 'includes/side.html.twig' %}
            <!--begin::Wrapper-->
            <div class="wrapper d-flex flex-column flex-row-fluid" id="kt_wrapper">

            {% include 'includes/header.html.twig' %}

            {#{% block breadcrumb %}{% endblock %}#}
                <!--begin::Content-->
                <div class="content d-flex flex-column flex-column-fluid" id="kt_content">
                    <!--begin::Post-->
                    <div class="post d-flex flex-column-fluid" id="kt_post">
                        {% block body %}
                        {% endblock %}
                    </div>
                    <!--end::Post-->
                </div>
                <!--end::content-->
            </div>
            <!--end::Wrapper-->
        </div>
        <!--end::Page-->
    </div>
    <!--end::Roor-->
    </body>

        
</html>
